.clock {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #242424;
  position: relative;
}

.clock::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #6d6d6d;
  border-radius: 50%;
}

.clock::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 4px;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
  background-image: linear-gradient(to top, #db36a4, #f7ff00);
}

.clock-mark {
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: 50% 100%;
  width: 2px;
  height: 10%;
  background-color: #000;
}
