.clock {
  border: 2px solid black;
  border-radius: 50%;
  background-color: #242424;
  position: relative;
}

.clock::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(155, 155, 155);
  border-radius: 50%;
}

.clock::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 3px;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(155, 155, 155);
}
