.font-dev {
  background-image: url("https://img.freepik.com/free-vector/abstract-backgound_23-2148052300.jpg?size=626&ext=jpg&ga=GA1.1.1800640979.1678582420&semt=ais");
  background-size: auto;
  filter: brightness(90%);
  -webkit-text-stroke: 0.5px black;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

@media (min-width: 768px) {
  .font-dev {
    background-image: url("https://img.freepik.com/free-vector/abstract-backgound_23-2148052300.jpg?size=626&ext=jpg&ga=GA1.1.1800640979.1678582420&semt=ais");
    background-size: auto;
    filter: none;
    background-clip: text;
    -webkit-text-stroke: 0px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
  }
}

/* https://img.freepik.com/free-vector/gradient-background-with-tridimensional-shapes_52683-13656.jpg?size=626&ext=jpg&ga=GA1.2.1800640979.1678582420&semt=ais */

/* https://img.freepik.com/free-vector/colorful-abstract-background_23-2148459098.jpg?size=626&ext=jpg&ga=GA1.1.1800640979.1678582420&semt=ais -*/

/* "https://img.freepik.com/free-vector/abstract-backgound_23-2148052300.jpg?size=626&ext=jpg&ga=GA1.1.1800640979.1678582420&semt=ais" -*/

/* https://img.freepik.com/free-vector/gradient-liquid-abstract-background_23-2148939140.jpg?size=626&ext=jpg&ga=GA1.2.1800640979.1678582420&semt=ais */

.background-anim {
  background-position-y: -3000px;
  background-position-x: center;

  animation: background-growing forwards 1000ms
    cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes background-growing {
  0% {
    background-position-y: -3000px;
    background-position-x: -600px;
  }
  100% {
    background-position-x: center;
    background-position-y: top;
  }
}
