.font-dev {
  background-image: url("https://img.freepik.com/free-vector/abstract-backgound_23-2148052300.jpg?size=626&ext=jpg&ga=GA1.1.1800640979.1678582420&semt=ais");
  background-size: auto;
  filter: brightness(90%);
  -webkit-text-stroke: 0.5px black;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

/* https://img.freepik.com/free-vector/gradient-background-with-tridimensional-shapes_52683-13656.jpg?size=626&ext=jpg&ga=GA1.2.1800640979.1678582420&semt=ais */

/* https://img.freepik.com/free-vector/colorful-abstract-background_23-2148459098.jpg?size=626&ext=jpg&ga=GA1.1.1800640979.1678582420&semt=ais -*/

/* "https://img.freepik.com/free-vector/abstract-backgound_23-2148052300.jpg?size=626&ext=jpg&ga=GA1.1.1800640979.1678582420&semt=ais" -*/

/* https://img.freepik.com/free-vector/gradient-liquid-abstract-background_23-2148939140.jpg?size=626&ext=jpg&ga=GA1.2.1800640979.1678582420&semt=ais */

.background-anim {
  background-position-y: -3000px;
  background-position-x: -600px;

  animation: background-growing forwards 1000ms
    cubic-bezier(0.39, 0.575, 0.565, 1);
}

.background-anim-delay {
  animation-delay: 2s;
}

@keyframes background-growing {
  0% {
    background-position-y: -3000px;
    background-position-x: -600px;
  }
  100% {
    background-position-x: center;
    background-position-y: top;
  }
}

.my-socials li {
  transform: translateY(-400px);
  opacity: 0;
  animation: fade-in 800ms ease-out forwards;
}

.my-socials li:nth-child(1) {
  animation-delay: 0.5s;
}

.my-socials li:nth-child(2) {
  animation-delay: 1s;
}

.my-socials li:nth-child(3) {
  animation-delay: 1.5s;
}
.my-socials li:nth-child(4) {
  animation-delay: 2s;
}

.my-socials button {
  animation-delay: 2s;
}

@keyframes fade-in {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.back-to-fade {
  transform: translateY(-400px);
  opacity: 0;
  animation: fade-in-button 800ms ease-out forwards;
}

@keyframes fade-in-button {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
